@import "../../Style/color.scss";
@import "../../Style/fonts.scss";

header.main-header {
  height: 90px;
  font-family: $Baloo;

  .custom-navbar {
    width: 100%;

    .links {
      gap: 10px;
      text-transform: uppercase;

      .link {
        a {
          padding-left: 13px;
          padding-right: 13px;
          color: $green;
        }

        &:last-child a {
          color: $green;
          border-radius: 4px;
          outline: auto;
        }
      }
    }

    a.logo {
      font-size: 1.75rem;
      color: $primary;

      &:hover {
        color: darken($primary, 20%);
      }
    }
  }
}

header.internal-header {
  font-family: $Baloo;
  border-bottom: 1px solid #eee;

  .navbar-primary {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    margin-left: 167px;

    a.logo {
      font-size: 1.5rem;
      color: $primary;
    }
  }
}
